/.metadata/
**/target/**
*.class
.project
*.iml
***.prefs
.classpath
*.MF
*.facet.core.xml
\.settings
META-INF/
.idea/**
.vscode/**
.recommenders/**
.properties
/.recommenders/
/Servers/
.springBeans
.tern-project